:root {
	--color-dark: #242424;
	--color-primary: #108ee9;
	--cool-gray-10: #f2f4f8;
	--cool-gray-30: #c1c7cd;
	--cool-gray-60: #697077;

	//navbar
	--navbar-height: 82px;

	//fonts
	--roboto: 'Roboto';
	--poppins: 'Poppins';
}
