//block
.inputBlock {
	width: 100%;
	display: flex;
	align-items: center;
}

.split {
	display: flex;
	align-items: center;
}

//input
.search {
	font-size: 18px;
	width: 100%;
	padding: 5px 10px;
	border: none;
	background: var(--cool-gray-10);
	outline: none;
}

.auth {
	width: 100%;
	background: #fff;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 0 20px;
}

.checkBoxAuth {
	width: 22px;
	height: 22px;
	flex-shrink: 0;
	fill: #000;
}

.fromTo {
	width: 100%;
	display: flex;
	padding: 8px 16px;
	align-items: center;
	gap: 8px;
	border-radius: 8px;
	border: 1.2px solid #e6e3e0;
	background: #fff;
}
