.SoloProduct {
	display: flex;
	// align-items: center;
	width: 100%;
	.imageBlock {
		max-width: 584px;
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		.mainImage {
			width: 536px;
			height: 486px;
			flex-shrink: 0;
			border-radius: 11px;
			background: #d9d9d9;
			position: relative;
			box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
			.image {
				width: 100%;
				height: 100%;
				border-radius: 10px;
			}
			.like {
				position: absolute;
				top: 25px;
				left: 25px;
				transition: 0.3s;
				color: #6a6969;
				width: 34px;
				height: 34px;
				&:hover {
					color: #af0e0e;
					fill: #af0e0e;
					scale: 1.2;
				}
			}
		}
	}
	.infoBlock {
		margin-left: 108px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-shrink: 0;
		.text {
			h1 {
				color: #010f52;
				font-family: 'Poppins';
				font-size: 28px;
				font-style: normal;
				font-weight: 500;
				line-height: 150%; /* 36px */
			}
			.des {
				margin-top: 20px;
				color: #737576;
				font-family: 'Poppins';
				font-size: 16px;
				font-style: normal;
				font-weight: 700;
				line-height: 150%; /* 24px */
				flex-wrap: nowrap;
			}
			.price {
				margin-top: 16px;
				color: #7b7b7b;
				font-family: 'Poppins';
				font-size: 48px;
				font-style: normal;
				font-weight: 700;
				line-height: 150%; /* 72px */
			}
			.inf {
				margin-top: 20px;
				display: flex;
				align-items: center;
				gap: 20px;
				color: #7b7b7b;
			}
		}
		.actions {
			.buy {
				width: 200px;
			}
		}
	}
}
