.imageCarusel {
	display: flex;
	align-items: center;
	max-width: 540px;
	width: 100%;
	margin-top: 46px;
	gap: 8px;
	.butt {
		padding: 8px;
	}
	.imageCard {
		width: 96px;
		height: 86px;
		flex-shrink: 0;
		border-radius: 11px;
		opacity: 0.5;
		background: linear-gradient(0deg, #d9d9d9 0%, #d9d9d9 100%);
		transition: 0.3s;
		cursor: pointer;
		&:hover {
			scale: 1.06;
		}
	}
	.activeImageCard {
		border: 2px solid #5c5c5c;
		width: 100px;
		height: 90px;
		flex-shrink: 0;
		border-radius: 11px;
		opacity: 0.5;
		background: linear-gradient(0deg, #d9d9d9 0%, #d9d9d9 100%);
		transition: 0.3s;
		cursor: pointer;
		&:hover {
			scale: 1.06;
		}
	}
	.img {
		width: 96px;
		height: 86px;
		flex-shrink: 0;
		border-radius: 11px;
	}
}
