.filterContainer {
	display: flex;
	top: 80px;
	position: fixed;
	width: 100%;
	margin-bottom: 40px;
	z-index: 40;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	.slidebar {
		position: fixed;
		top: 165px;
		left: 0%;
		height: 100vh;
		width: 24%;
		overflow-y: auto;
		transition: all 0.7s;
		transform: translateX(-100%);
	}

	.slidebar-open {
		transition: all 0.4s ease-out;
		transform: translateX(0);
	}

	.filterBlock {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 16px 72px;
		background: #ef4444;
		// background: #d8d8d8;
		width: 100%;

		.icon {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 8px 10px;
			cursor: pointer;
			border-radius: 12px;
			background: #f5f5f5;
			transition: 0.3s;
			&:hover {
				background: #a9a9a9;
			}
		}
		.dropBlock {
			width: 15.6%;
			// background: red;
		}
		.seacrh {
			width: 30%;
			padding: 12px;
			border-radius: 12px;
			background: #f5f5f5;
			.searchInput {
				padding-left: 10px;
				width: 100%;
				background: #f5f5f5;
				font-size: 16px;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				text-transform: capitalize;
			}
		}
		.button {
			padding: 10px 42px;
			background: #282828;
			&:hover {
				background: #4c4c4c;
			}
		}
	}
}
