.SoloProduct {
	display: flex;
	// align-items: center;
	// width: 100%;

	.infoBlock {
		margin-left: 108px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-shrink: 0;
		.text {
			position: relative;
			.share {
				position: absolute;
				right: 0px;
				padding: 10px 11px 5.8px 10px;
				border-radius: 16px;
				transition: 0.3s;
				cursor: pointer;
				&:hover {
					box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
				}
			}
			h1 {
				color: #010f52;
				font-family: 'Poppins';
				font-size: 28px;
				font-style: normal;
				font-weight: 500;
				line-height: 150%; /* 36px */
			}
			.des {
				margin-top: 10px;
				color: #737576;
				font-size: 16px;
				font-style: normal;
				font-weight: 700;
				line-height: 150%; /* 24px */
				display: block; /* Добавьте этот стиль */
				white-space: normal; /* Или white-space: break-spaces; */
			}

			.price {
				margin-top: 26px;
				color: #7b7b7b;
				font-family: 'Poppins';
				font-size: 48px;
				font-style: normal;
				font-weight: 700;
				line-height: 150%; /* 72px */
			}
			.inf {
				margin-top: 20px;
				display: flex;
				align-items: center;
				gap: 20px;
				color: #7b7b7b;
			}
			.cat {
				margin-top: 20px;
				color: #737576;
				font-family: 'Poppins';
				font-size: 16px;
				font-style: normal;
				font-weight: 700;
				line-height: 150%; /* 24px */
			}
		}
		.actions {
			.buy {
				width: 200px;
			}
		}
	}
}
