.modal {
	top: -140px;
	right: 0;
	position: absolute;
	z-index: 20;
	padding: 20px;
	border-radius: 14px;
	background-color: #fff;
	box-shadow: 0px 10px 30px 10px #e6e6e6;
	h2 {
		font-family: 'Poppins';
	}
}
