.defCard {
	width: 347px;
	height: 431px;
	flex-shrink: 0;
	border-radius: 15px;
	border: 2px solid #d1d1d1;
	background: #fcfcfc;
	font-family: var(--poppins);
	transition: 0.3s;
	// margin: 5px;
	&:hover {
		padding: 1px;
		scale: 1.03;
		box-shadow: rgba(46, 46, 46, 0.507) 0px 3px 8px;
		border: 2px solid #fcfcfc;
	}
	.imageBlock {
		width: 100%;
		height: 234px;
		flex-shrink: 0;
		border-radius: 13px;
		background: #dedede;
		position: relative;
		z-index: 10;
		.noLiked {
			position: absolute;
			top: 6px;
			right: 6px;
			transition: 0.3s;
			cursor: pointer;
			color: #797979;
			width: 30px;
			height: 30px;
			&:hover {
				fill: #af0e0e;
				color: #af0e0e;
				scale: 1.1;
			}
		}
		.liked {
			position: absolute;
			top: 6px;
			right: 6px;
			transition: 0.3s;
			cursor: pointer;
			fill: #af0e0e;
			color: #af0e0e;
			width: 30px;
			height: 30px;
			&:hover {
				// fill: #af0e0e;
				color: #af0e0e;
				scale: 1.1;
			}
		}

		.character {
			font-family: var(--roboto);
			position: absolute;
			top: 12px;
			display: flex;
			max-width: 120px;
			padding: 4px 10px 4px 8px;
			align-items: center;
			gap: 8px;
			border-radius: 0px 15px 15px 0px;
			background: #fff;
			color: #7c7c7c;
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
		.img {
			width: 90%;
			height: 100%;
			border-radius: 14px;
			box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
		}
	}
	.infoBlock {
		padding: 16px;
		.nd {
			padding-bottom: 17px;
			color: black;
			.desc {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
		.prices {
			display: flex;
			align-items: center;
			gap: 10px;
			padding-bottom: 15px;
			border-bottom: 1px solid #d9d9d9;
			.endPrice {
				color: #282828;
				font-size: 20px;
				font-style: normal;
				font-weight: 700;
				line-height: 150%; /* 30px */
			}
			.oldPrice {
				color: #282828;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 150%; /* 24px */
			}
		}
		.counter {
			width: 100%;
			margin-top: 8px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			.basket {
				display: flex;
				padding: 4px 20px;
				justify-content: center;
				align-items: center;
				flex-shrink: 0;
				border-radius: 15px;
				border: 2px solid #d1d1d1;
				background: #fff;
				transition: 0.3s;
				cursor: pointer;
			}
			.basket_inBasket {
				display: flex;
				padding: 4px 20px;
				justify-content: center;
				align-items: center;
				flex-shrink: 0;
				border-radius: 15px;
				border: 2px solid #009455;
				background: #009455;
				transition: 0.3s;
				cursor: pointer;
				&:hover {
					border: 2px solid #d1d1d1;
					background: #d1d1d1;
				}
			}

			.basket:hover {
				background: #d1d1d1;
			}
		}
	}
}
