.navbar {
	// position: fixed;
	// top: 0;
	// left: 0;
	display: flex;
	width: 100%;
	padding: 16px 80px;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
	border-bottom: 1px solid var(--cool-gray-20, #dde1e6);
	background: var(--default-white, #fff);
	.logo {
		width: 196px;
		height: 38px;
		flex-shrink: 0;
		border-radius: 5px;
		background: #efefef;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.search {
		display: flex;
		// max-width: 596px;
		width: 40%;
		height: 48px;
		padding: 12px 16px;
		align-items: center;
		gap: 8px;
		flex-shrink: 0;
		border-radius: 5px;
		border-bottom: 1px solid var(--cool-gray-30);
		background: var(--cool-gray-10);
	}

	.iconBlock {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 8px 10px 6px 10px;
		cursor: pointer;
		border-radius: 5px;
		&:hover {
			background: var(--cool-gray-10);
		}
		.Icons {
			color: var(--cool-gray-60);
			line-height: 0;
		}
	}
	.active {
		scale: 1.1;
		transition: 0.3s;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 8px 10px 6px 10px;
		cursor: pointer;
		border-radius: 5px;
		background: var(--cool-gray-10);
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}
}
