.sidebar {
	position: -ms-page;
	margin-right: 0;
	height: 100%;
	border-right: 1px solid #d1d1d1;
	background: rgba(
		197,
		197,
		197,
		0.7
	); /* Здесь 0.7 - это прозрачность в диапазоне 0.0 - 1.0 */
	color: #fff;
}
